
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Noto+Sans+JP:wght@900&family=Open+Sans:wght@400&family=Roboto:wght@300&display=swap');



/* Header */
h1 {
    font-family: 'noto sans JP', sans-serif;
    font-size: 46px;
    text-shadow: 2px 2px pink;
    font-weight: 600;
    line-height: 1.2;
    margin: 80px auto 30px auto;
    padding-top: 20px;
    color: #2556a1;
}

.byline, .dateline {
    text-transform: uppercase;
}

.byline {
    margin-top: 15px;
}


/* Article body */

p {
  margin: auto;
  font-size: 18px;
  line-height: 1.6;
  padding: 9px 0px;
  text-align: justify;
  background-color: white;
  letter-spacing: .5px;
}

h2 {
  margin: auto;
  line-height: 1.5;
  padding: 20px 0px 20px 0px;
  text-align: justify;
  background-color: white;
  letter-spacing: .5px;
}

body {
    font-size: 18px;
    margin: 0px 30px;
    font-family: "open sans", sans-serif;
    line-height: 1.6;
}

.grid-container {
    display:grid;
    grid-template-columns: repeat(8, 1fr);
}


article, header {
    grid-column-start: 2;
    grid-column-end: span 10;
    max-width: 992px;
    width: 83.333333%;
    flex: none !important;
}

/* section.lead-image {
    grid-column-end: span 12;
}
*/

/* GRID --------------------- */

/* Charts */

.chart {
  margin: 0px auto;
}

iframe {
  margin: 30px auto;
}

/* TYPOGRAPHY --------------------- */


figcaption, .dateline {
    color: #999999
}

.dateline, .byline {
    font-size: 16px;
    lineheight: 1.2;

}

 /* Lead */

.lead {
    font-size: 1.5em;
}

 /* Dropcap for first letter of lead*/

.lead:first-letter {
  float: left;
  font-size: 88px;
  line-height: 0.65;
  margin: 0.1em 0.1em 0 0;
  color: #2556a1;
}
    
.first:first-letter {
  float: left;
  font-size: 88px;
  line-height: 0.65;
  margin: 0.1em 0.1em 0 0;
  color: #2556a1;
  }
}
/* FIGURE AND IMAGES --------------------- */

  /* Captions */

figcaption {
  font-size: 14px;
  line-height: 1.2;
  margin: auto;
  max-width: 700px;
  padding: 9px 0px;
}

.credit {
  font-size: 12px;
  max-width: 700px;
  margin-bottom: -15px;
}

figure {
  width: 75%;
}


/* BLOCKQUOTE --------------------- */

blockquote {
    font-style: italic;
    font-size: 1.3em;
    line-height: 1.3;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

blockquote p {
    font-size: 1.3em;
}

blockquote p::before {
    content: open-quote;
    margin-right: 3px;
}

blockquote p::after {
    content: close-quote;
    margin-left: 3px;
}

blockquote p::before, blockquote p::after {
    display: inline-block;
    color: gray;
}

blockquote cite {
    display: block;
    font-style: normal;
    font-size: .8rem;
    line-height: 1.2;
    color: gray;
    text-align: right;
    margin-top: 1rem;
    padding-right: 15px;
}

blockquote cite::before {
    content: "\2014";
}


figure, header, .read-more {
    margin-bottom: 50px;
}

/* Hyperlinks */

a, a:visited, a:focus {
    color: #136a99;
    text-decoration: none;
}

/* Solid dividing border  */
hr.solid-divider {
  border-top: 3px solid #bbb;
  
  
}


  /* Footer */

footer p {
  color: grey;
  font-size: 13px;
}

footer {
  margin-bottom: 20px;
}

/* Mobile Responsive */
@media only screen and (max-width:767px) {
    body {
        font-size: 32px;
    }
    
    /*     
    article, header {
        grid-column-start: 1;
        grid-column-end: span 12;
        width: 100%;
    }
     */
}


/* Dark Mode */
@media (prefers-color-scheme: dark) {

}

